*,
*::before,
*::after
  box-sizing: inherit

html
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  font-size: 10px

body
  color: $font-color
  background-color: $background-color
  line-height: $font-line-height
  font-size: 1.6rem
  font-family: $font-family

p, h1,h2,h3,h4,h5,h6
  margin-top: 0

h1,h2,h3,h4,h5,h6
  color: darken($primary-color, 30%)

p, ul, ol, pre, table, blockquote
  margin-top: 0rem
  margin-bottom: 3rem

ul ul, ol ol, ul ol, ol ul
  margin-top: 0rem
  margin-bottom: 0rem

hr, .hr
  border: 1px solid
  margin: -1px 0

a, b, i, strong, em, small, code
  line-height: 0

sub, sup
  line-height: 0
  position: relative
  vertical-align: baseline
a
  text-decoration: none

input
  border: 1px solid $border-color
  padding: 8px 24px
  outline: none
  &:focus, &:focus-within
    border-color: $primary-color
