@media screen and (min-width: $br--d)
    .m--show,
    .t--show,
    .d--hide,
    .is--mobile
        display: none

    .d--show
        display: block

@media screen and (max-width: $br--t)
    .m--show,
    .t--hide,
    .d--show,
    .is--mobile
        display: none

    .t--show
        display: block

@media screen and (max-width: $br--m)
    .t--show,
    .m--hide,
    .t--hide,
    .d--show
        display: none

    .m--show,
    .is--mobile
        display: block

.primary-color
    color: $primary-color !important