.footer
    border-top: 1px solid  $border-color
    background: #fff
    color: lighten(#000, 10%)
    padding-top: 56px
    padding-bottom: 16px
    &__logo
        max-width: 128px
.footer-nav
    display: flex
    flex-direction: column
    text-align: center
    .nav-left
        margin-bottom: 16px
    .nav-center
        margin-bottom: 16px
    .social-nav-links
        margin-top: 16px

    .nav-item
        display: inline-block
        align-self: center
        & + .nav-item
            margin-left: 16px
.copyright-text
    text-align: center
    margin-top: 18px
    padding-top: 4px
    margin-bottom: 0
@media screen and (min-width: $br--t)

    .footer-nav
        flex-direction: row
        align-items: center

        .social-nav-links
            margin-top: 0
        .nav-left
            margin-right: auto
            margin-bottom: 0
        .nav-right
            margin-left: auto
        .nav-center
            margin-bottom: 0