extends ./layouts/main.pug
block body
    .outer
        .inner
            h1 The quick brown fox jumps over the lazy dog
            h2.h1 The quick brown fox jumps over the lazy dog
            h3 The quick brown fox jumps over the lazy dog
            h4 The quick brown fox jumps over the lazy dog
            h5 The quick brown fox jumps over the lazy dog
            h6 The quick brown fox jumps over the lazy dog