extends ./layouts/main.pug
block head
    link(rel="stylesheet", href="./css/swiper.min.css")
    script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "http://www.basuragency.com",
        "logo": "http://www.basuragency.com/assets/imgs/basur-agency-logo.png"
        }

block body
    header.header
        // Slider main container
        .swiper-container
            .parallax-bg(style="background-image:url(/assets/imgs/bg.jpg)" data-swiper-parallax="-23%")
            // Additional required wrapper
            .swiper-wrapper
                // Slides
                .swiper-slide
                    .outer
                        .inner
                            .grid
                                .grid__item.grid--7.slider__detail     
                                    h3.slider__title(data-swiper-parallax="-300" data-swiper-parallax-opacity="0") WE’LL HELP YOU LEAVE A PROFESSIONAL IMPRESSION
                                    p.slider__description(data-swiper-parallax="-500" data-swiper-parallax-opacity="0") Design, print, signage, delivery – we make it a seamless process for you.
                                    .btn.btn--outline(data-swiper-parallax="-600" data-swiper-parallax-opacity="0") Sldie action
                                .grid__item.grid--5
                                    img.slider__img.lazy(data-src="/assets/imgs/slider-img-example.jpg", alt="", data-swiper-parallax="-600" data-swiper-parallax-opacity="0")
                .swiper-slide
                    .outer
                        .inner
                            .grid
                                .grid__item.grid--7.slider__detail     
                                    h3.slider__title(data-swiper-parallax="-300" data-swiper-parallax-opacity="0") WE’LL HELP YOU LEAVE A PROFESSIONAL IMPRESSION
                                    p.slider__description(data-swiper-parallax="-500" data-swiper-parallax-opacity="0") Design, print, signage, delivery – we make it a seamless process for you.
                                    .btn.btn--outline(data-swiper-parallax="-600" data-swiper-parallax-opacity="0") Sldie action
                                .grid__item.grid--5
                                    img.slider__img.lazy(data-src="/assets/imgs/slider-img-example.jpg", alt="", data-swiper-parallax="-600" data-swiper-parallax-opacity="0")
                .swiper-slide
                    .outer
                        .inner
                            .grid
                                .grid__item.grid--7.slider__detail     
                                    h3.slider__title(data-swiper-parallax="-300" data-swiper-parallax-opacity="0") WE’LL HELP YOU LEAVE A PROFESSIONAL IMPRESSION
                                    p.slider__description(data-swiper-parallax="-500" data-swiper-parallax-opacity="0") Design, print, signage, delivery – we make it a seamless process for you.
                                    .btn.btn--outline(data-swiper-parallax="-600" data-swiper-parallax-opacity="0") Sldie action
                                .grid__item.grid--5
                                    img.slider__img.lazy(data-src="/assets/imgs/slider-img-example.jpg", alt="", data-swiper-parallax="-600" data-swiper-parallax-opacity="0")


            // If we need pagination
            .swiper-pagination
            // If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
    section.section
        .outer
            .inner
                .triple-cards
                    .card
                        .card-icon
                            svg(xmlns='http://www.w3.org/2000/svg', width='131', height='131', viewBox='0 0 131 131')
                                g(transform='translate(-536 -933)')
                                    circle(cx='65.5', cy='65.5', r='65.5', transform='translate(536 933)', fill='#f2f3f5')
                                    g(transform='translate(562 958.811)')
                                        g(transform='translate(57.204 57.102)')
                                            path(d='M373.763,360.831a1.076,1.076,0,0,0-1.173.233l-11.758,11.758a1.076,1.076,0,0,0,.761,1.837h11.758a1.076,1.076,0,0,0,1.076-1.076V361.825A1.076,1.076,0,0,0,373.763,360.831Zm-9.573,11.676,8.085-8.085v8.085Z', transform='translate(-360.517 -360.749)', fill='#4958a8')
                                        g(transform='translate(0 0)')
                                            path(d='M78.177,37.808a1.158,1.158,0,0,0-1.262.251l-3.468,3.468V17.947a1.158,1.158,0,0,0-1.158-1.158h-8.9l3.23-3.23v0l3.112-3.112a3.531,3.531,0,0,0,0-4.993l-3.6-3.6a3.531,3.531,0,0,0-4.993,0L58.03,4.967,54.268,8.73l-8.059,8.059H10.265V5.333A1.158,1.158,0,0,0,9.107,4.175,9.118,9.118,0,0,0,0,13.283V62.465a1.161,1.161,0,0,0,.027.249,8.771,8.771,0,0,0,8.744,8.1H44.156l-6.664,6.664a1.158,1.158,0,0,0,.819,1.977H77.734A1.158,1.158,0,0,0,78.892,78.3V38.878A1.158,1.158,0,0,0,78.177,37.808ZM62.781,3.492a1.216,1.216,0,0,1,1.718,0l3.6,3.6a1.216,1.216,0,0,1,0,1.718L65.8,11.1,60.486,5.786ZM58.849,7.424l5.317,5.317-2.125,2.125L56.724,9.549ZM76.576,51.889H74.44a1.158,1.158,0,1,0,0,2.316h2.136v3.489H74.44a1.158,1.158,0,0,0,0,2.316h2.136V63.5H74.44a1.158,1.158,0,1,0,0,2.316h2.136V69.3H74.44a1.158,1.158,0,0,0,0,2.316h2.136v5.523H41.106l11.7-11.7a1.158,1.158,0,0,0-1.638-1.638L46.472,68.5H8.772a6.419,6.419,0,0,1-6.45-6.247q.01-.33.051-.654v0q.019-.154.046-.306l.006-.035q.024-.136.054-.27l.017-.075q.026-.114.057-.226c.011-.041.023-.081.035-.121.017-.059.035-.118.053-.176s.039-.116.059-.173c.014-.04.028-.08.043-.12.028-.076.058-.151.089-.225l.027-.065c.04-.092.081-.184.124-.274l.005-.012a6.817,6.817,0,0,1,4.738-3.705l.018,0c.1-.02.193-.036.29-.052l.049-.008c.088-.013.177-.024.266-.034l.075-.009c.086-.009.172-.014.259-.02l.082-.006q.17-.009.343-.009a1.158,1.158,0,0,0,1.158-1.158v-8.4a1.158,1.158,0,0,0-2.316,0V53.43a9.044,9.044,0,0,0-5.2,2.517c-.151.147-.293.3-.432.455V13.283A6.8,6.8,0,0,1,7.949,6.59v34.9h0a1.158,1.158,0,1,0,2.316,0h0V19.1H43.893l-6.4,6.4a1.158,1.158,0,0,0,1.637,1.638l8.378-8.378h0l7.579-7.579L60.4,16.5l-.624.624h0L36.429,40.477,31.113,35.16l4.6-4.6a1.158,1.158,0,1,0-1.637-1.638l-5.421,5.421a1.163,1.163,0,0,0-.082.091c-.008.01-.016.022-.024.033s-.032.044-.047.066l-.024.041c-.013.022-.025.043-.036.066s-.014.029-.021.044-.02.046-.029.069-.007.016-.01.024l-2.256,6.391-1.538,4.357a1.171,1.171,0,0,0-.046.176H20.692a1.158,1.158,0,0,0,0,2.316H52.76a1.158,1.158,0,0,0,0-2.316H29.753l7.062-2.493.017-.007c.027-.01.054-.022.081-.034l.032-.015c.028-.014.055-.029.082-.045l.026-.015c.028-.018.055-.037.082-.058l.02-.015a1.162,1.162,0,0,0,.094-.084L61.076,19.1H71.131V43.843L54.568,60.407a1.158,1.158,0,0,0,0,1.638,1.183,1.183,0,0,0,.088.08,1.157,1.157,0,0,0,1.55-.08h0L76.576,41.673ZM34.311,41.634,30.995,42.8l-2.21-2.21,1.171-3.317Z', transform='translate(0 -0.82)', fill='#4958a8')

                        h4.card-headline DESIGN

                        p.card-body Attention grabbing powerful designs to communicate your message at a glance. High quality graphics at competitive prices.
                    .card
                        .card-icon
                            svg(xmlns='http://www.w3.org/2000/svg', width='130', height='130', viewBox='0 0 130 130')
                                g(transform='translate(-964 -943)')
                                    circle(cx='65', cy='65', r='65', transform='translate(964 943)', fill='#f2f3f5')
                                    g(transform='translate(990.145 968.868)')
                                        g(transform='translate(0 0)')
                                            path(d='M78.011,30.8c-.01-.031-.016-.062-.029-.092a1.29,1.29,0,0,0-.221-.348L66.681,18.176A7.827,7.827,0,0,0,60.9,15.62H54.67V2.6a2.6,2.6,0,0,0-2.6-2.6H26.033a2.6,2.6,0,0,0-2.6,2.6V15.62H17.2a7.827,7.827,0,0,0-5.779,2.556L.338,30.364a1.29,1.29,0,0,0-.221.348c-.013.03-.018.061-.029.092a1.252,1.252,0,0,0-.074.366c0,.025-.014.046-.014.07V55.971a7.818,7.818,0,0,0,7.81,7.81h9.112l-4.686,6.248a2.6,2.6,0,0,0,2.083,4.165h7.563l-.1.225a2.6,2.6,0,0,0,2.37,3.68h29.8a2.6,2.6,0,0,0,2.37-3.68l-.1-.225h7.564a2.6,2.6,0,0,0,2.083-4.165l-4.686-6.248h9.112a7.818,7.818,0,0,0,7.81-7.81V31.24c0-.025-.013-.046-.014-.07A1.252,1.252,0,0,0,78.011,30.8ZM26.033,2.6H52.066V23.43H26.033ZM13.345,19.928A5.214,5.214,0,0,1,17.2,18.223H23.43V23.43h-1.3a1.3,1.3,0,0,0,0,2.6H55.971a1.3,1.3,0,1,0,0-2.6h-1.3V18.223H60.9a5.214,5.214,0,0,1,3.853,1.705l9.1,10.01H4.245Zm45.23,40.383-2.6-3.472V54.67a3.9,3.9,0,0,0-3.9-3.9H26.033a3.9,3.9,0,0,0-3.9,3.9v2.17l-2.6,3.472V50.765a9.122,9.122,0,0,1,9.112-9.112H49.463a9.122,9.122,0,0,1,9.112,9.112Zm-5.207-4.34H24.731v-1.3a1.3,1.3,0,0,1,1.3-1.3H52.066a1.3,1.3,0,0,1,1.3,1.3ZM24.15,75.5l5.325-11.715h19.15L53.955,75.5Zm30.884-3.9-4.371-9.618-.014-.031a1.269,1.269,0,0,0-.243-.35c-.027-.029-.059-.051-.087-.077a1.3,1.3,0,0,0-.282-.19,1.226,1.226,0,0,0-.118-.055,1.3,1.3,0,0,0-.454-.092H28.636a1.3,1.3,0,0,0-.453.091,1.225,1.225,0,0,0-.118.055,1.3,1.3,0,0,0-.282.19c-.029.026-.06.048-.087.077a1.269,1.269,0,0,0-.243.35l-.014.031-4.372,9.619H14.318l9.762-13.017H54.019l9.762,13.017ZM75.5,55.971a5.207,5.207,0,0,1-5.207,5.207H61.178V50.765A11.729,11.729,0,0,0,49.463,39.05H28.636A11.729,11.729,0,0,0,16.922,50.765V61.178H7.81A5.207,5.207,0,0,1,2.6,55.971V32.541H75.5Z', transform='translate(0 0)', fill='#4958a8')
                                            path(d='M55.028,38.056A5.028,5.028,0,1,0,50,33.028,5.028,5.028,0,0,0,55.028,38.056Zm0-6.7a1.676,1.676,0,1,1-1.676,1.676A1.676,1.676,0,0,1,55.028,31.352Z', transform='translate(11.339 7.282)', fill='#4958a8')
                                            ellipse(cx='1.627', cy='1.952', rx='1.627', ry='1.952', transform='translate(64.749 45.962)', fill='#4958a8')
                                            ellipse(cx='1.627', cy='1.952', rx='1.627', ry='1.952', transform='translate(64.749 49.958)', fill='#4958a8')
                                            circle(cx='1.627', cy='1.627', r='1.627', transform='translate(64.749 54.064)', fill='#4958a8')
                                            path(d='M26.676,54.352H40.084a1.676,1.676,0,0,0,0-3.352H26.676a1.676,1.676,0,1,0,0,3.352Z', transform='translate(5.67 12.015)', fill='#4958a8')
                                            path(d='M44.788,54H24.676a1.676,1.676,0,0,0,0,3.352H44.788a1.676,1.676,0,1,0,0-3.352Z', transform='translate(4.318 14.043)', fill='#4958a8')
                                            path(d='M5.676,32.028a1.676,1.676,0,0,0,1.676-1.676V28.676a1.676,1.676,0,1,0-3.352,0v1.676A1.676,1.676,0,0,0,5.676,32.028Z', transform='translate(2.704 7.613)', fill='#4958a8')
                                            path(d='M5.676,45.408a1.676,1.676,0,0,0,1.676-1.676V33.676a1.676,1.676,0,1,0-3.352,0V43.732A1.676,1.676,0,0,0,5.676,45.408Z', transform='translate(2.704 7.81)', fill='#4958a8')

                        h4.card-headline PRINT

                        p.card-body Business Cards, Flyers & Brochures, quality full colour digital and offset printing.​
                    .card
                        .card-icon
                            svg(xmlns='http://www.w3.org/2000/svg', width='140', height='140', viewBox='0 0 140 140')
                                g(transform='translate(-1383 -933)')
                                    circle(cx='70', cy='70', r='70', transform='translate(1383 933)', fill='#f2f3f5')
                                    g(transform='translate(1411 963.1)')
                                        path(d='M124.432,292.646a1.646,1.646,0,1,0-2.248-.6A1.646,1.646,0,0,0,124.432,292.646Zm0,0', transform='translate(-101.892 -241.921)', fill='#4958a8')
                                        path(d='M15.8,80.76l8.288,14.355a6.582,6.582,0,1,0,11.4-6.582l-4.937-8.552,4.276-2.469a1.646,1.646,0,0,0,.6-2.248l-2.14-3.707,31.521-6.183a4.936,4.936,0,0,0,4-7.4l-5.469-9.473,3.5-5.294a1.646,1.646,0,0,0,.052-1.73l-3.291-5.7a1.649,1.649,0,0,0-1.524-.82l-6.331.38L49.668,24.824a4.894,4.894,0,0,0-4.214-2.468h-.063a4.894,4.894,0,0,0-4.157,2.276l-21.5,27.386L5.761,60.087A11.52,11.52,0,0,0,15.8,80.76Zm16.839,9.42a3.291,3.291,0,0,1-5.7,3.291L18.706,79.217l5.7-3.291ZM28.9,77.13l-1.646-2.85,2.85-1.646,1.646,2.85ZM61.253,38.307l2.274,3.939L61.5,45.318l-3.92-6.79ZM43.987,26.436a1.645,1.645,0,0,1,2.83.033L65.958,59.624a1.645,1.645,0,0,1-1.385,2.467,6.041,6.041,0,0,0-.9.153L43.424,27.174C43.848,26.627,43.9,26.574,43.987,26.436Zm-2.754,3.527,19.024,32.95L31.546,68.545l-8.73-15.12ZM4.395,74.178a8.223,8.223,0,0,1,3.012-11.24l12.827-7.406,8.228,14.252L15.635,77.19A8.238,8.238,0,0,1,4.395,74.178Zm0,0', transform='translate(0 -18.677)', fill='#4958a8')
                                        path(d='M53.1,310.4a1.646,1.646,0,0,0-2.248-.6L48,311.439a1.648,1.648,0,0,1-2.248-.6,1.646,1.646,0,1,0-2.85,1.646,4.943,4.943,0,0,0,6.744,1.807l2.85-1.646A1.646,1.646,0,0,0,53.1,310.4Zm0,0', transform='translate(-35.658 -258.627)', fill='#4958a8')
                                        path(d='M446.291,42.689l-9.17,5.1a1.646,1.646,0,0,0,1.6,2.876l9.17-5.1a1.646,1.646,0,0,0-1.6-2.876Zm0,0', transform='translate(-364.478 -35.49)', fill='#4958a8')
                                        path(d='M448.494,138.381l-6.358-1.7a1.645,1.645,0,1,0-.852,3.179l6.359,1.7a1.645,1.645,0,1,0,.851-3.179Zm0,0', transform='translate(-367.643 -114.138)', fill='#4958a8')
                                        path(d='M385.254,1.22l-1.705,6.359a1.646,1.646,0,1,0,3.18.852l1.7-6.359a1.646,1.646,0,1,0-3.179-.852Zm0,0', transform='translate(-320.382 0)', fill='#4958a8')

                        h4.card-headline PROMOTIONS

                        p.card-body A vast array of personalised promotional gifts, covering every sector of business plus bespoke ideas to catch your eye.


    section.section.feature-products
        .outer
            .inner
                h2.section__headline Feature Products
                p.section__subheadline We help businesses to stand out well and thrive using the most imaginative and impactful ways.
                
                .products
                    .products__sidebar
                        .widget.widget--categories.t--hide
                            h4.widget__headline Product Categories
                            .widget__content 
                                ul.list.action-list
                                    li.action-list__item.action--active
                                        a.action-list__action(href="#" data-link="") Logo
                                    li.action-list__item
                                        a.action-list__action(href="#" data-link="") Business Card
                                    li.action-list__item
                                        a.action-list__action(href="#" data-link="") Bruchore
                                    li.action-list__item
                                        a.action-list__action(href="#" data-link="") Restaurant
                                    li.action-list__item
                                        a.action-list__action(href="#" data-link="") All Products
                        select.widget__dropdown.t--show
                            option(value="logo") Logo
                            option(value="logo") Business Card
                            option(value="logo") Bruchore
                            option(value="logo") Restaurant
                            option(value="logo") All Products
                                    

                    .products__grid
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/bags.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/medals.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared 
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/pins.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    button.action.action-has--icon
                                        span.icon.icon--small.icon-whatsapp 
                                    button.action.action-has--icon      
                                        span.icon.icon--small.icon-facebook-official     
                                    button.action.action-has--icon
                                        span.icon.icon--small.icon-twitter-squared  
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/cloths.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    button.action.action-has--icon
                                        span.icon.icon--small.icon-whatsapp 
                                    button.action.action-has--icon      
                                        span.icon.icon--small.icon-facebook-official     
                                    button.action.action-has--icon
                                        span.icon.icon--small.icon-twitter-squared  
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/clocks.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared 
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/notebook.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared 
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/bags.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/medals.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared
                        .product
                            a.product__thumbnail(href="#")
                                img.lazy(data-src="/assets/imgs/pins.png", alt="")
                            .product__info
                                a.product__link(href="#")
                                    h3.product__title Calendar
                                .product__actions
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-whatsapp
                                    a.action(href="/whatsapp" rel="nofollow")      
                                        span.icon.icon--small.icon-facebook-official   
                                    a.action(href="/whatsapp" rel="nofollow")
                                        span.icon.icon--small.icon-twitter-squared
                                    

        
        
    section.section.services.hero
        .media
            img(src="/assets/imgs/wacom-design-tablet.jpg", alt="")    
        .description
            h2 DESIGN SERVICES
            p Our in-house professional design team will bring your brand to life. We have extensive experience designing all types of marketing materials. We don’t simply give you an array of designs and ask you to pick one. Our goal in the design process is to create a visual representation of your company’s personality.
            a(href="/contact").btn.btn--primary Contact us


    

block scripts
    script(src="./js/swiper.min.js")
    script(src="./js/lazyload.min.js")
    script.
        var mySwiper = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            autoplay: true,
            speed: 800,
            parallax: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            // If we need pagination
            pagination: {
            el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
        
        })

        mySwiper.on('slideChange', function () {
            
        });  

        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });          