<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Modern tools Boilerplate
        block head
        link(rel="stylesheet", href="/css/main.min.css")
        link(rel="stylesheet", href="/css/fontello.css")
        <!--[if IE gte 8]>
        link(rel="stylesheet", href="/css/fontello-ie7.css")
        <![endif]-->
    body
        .outer
            .inner
                .top-nav
                    .nav-left
                        img.nav-logo(alt="basur agency logo", src="./assets/imgs/basur-agency-logo.png", width="175")
                    .nav-right
                        .contacts
                            .contact-item
                                .contact-icon
                                    svg(xmlns='http://www.w3.org/2000/svg', width='32', height='32', viewBox='0 0 32 32')
                                        g#email(transform='translate(-0.001 -0.004)')
                                            g#Group_5(data-name='Group 5', transform='translate(0.001 0.004)')
                                                g#Group_4(data-name='Group 4', transform='translate(0)')
                                                    g#Group_3(data-name='Group 3')
                                                        path#Path_13(data-name='Path 13', d='M31.995,12.238a.5.5,0,0,0-.022-.108.533.533,0,0,0-.03-.092.479.479,0,0,0-.053-.082.5.5,0,0,0-.071-.083c-.009-.007-.012-.018-.021-.025L26.667,7.865V3.736a1.6,1.6,0,0,0-1.6-1.6h-5.78L16.973.339a1.581,1.581,0,0,0-1.945,0l-2.315,1.8H6.933a1.6,1.6,0,0,0-1.6,1.6V7.865L.205,11.849c-.009.008-.013.018-.021.025a.5.5,0,0,0-.071.083.476.476,0,0,0-.053.082.526.526,0,0,0-.03.092.505.505,0,0,0-.022.107c0,.011-.006.021-.006.032V30.4a1.582,1.582,0,0,0,.313.941s0,.011.007.015.012.009.017.015A1.592,1.592,0,0,0,1.6,32H30.4a1.593,1.593,0,0,0,1.265-.631c0-.005.011-.007.014-.012s0-.01.008-.015A1.582,1.582,0,0,0,32,30.4V12.27C32,12.259,32,12.249,31.995,12.238ZM15.68,1.181a.511.511,0,0,1,.636,0l1.23.955H14.453ZM1.734,30.938,15.68,20.1a.512.512,0,0,1,.636,0l13.95,10.833Zm29.2-.832L16.973,19.263a1.582,1.582,0,0,0-1.945,0L1.066,30.106V13.082l8.74,6.787a.534.534,0,0,0,.654-.843L1.581,12.131,5.333,9.215v4.121a.533.533,0,1,0,1.067,0v-9.6A.533.533,0,0,1,6.933,3.2H25.067a.533.533,0,0,1,.533.533v9.6a.533.533,0,1,0,1.067,0V9.215l3.752,2.916-8.895,6.907a.533.533,0,1,0,.654.843l8.756-6.8V30.106Z', transform='translate(-0.001 -0.004)', fill='#858688')
                                                        path#Path_14(data-name='Path 14', d='M166.384,76.777V74.642a6.405,6.405,0,1,0-6.405,6.405.534.534,0,0,0,0-1.067,5.338,5.338,0,1,1,5.338-5.338v2.135a1.068,1.068,0,0,1-2.135,0V74.642a.534.534,0,1,0-1.067,0,2.135,2.135,0,1,1-2.135-2.135.534.534,0,1,0,0-1.067A3.2,3.2,0,1,0,162.137,77a2.129,2.129,0,0,0,4.247-.225Z', transform='translate(-143.98 -63.969)', fill='#858688')
                                            g#Group_6(data-name='Group 6', transform='translate(0.001 0.004)')
                                                g#Group_4-2(data-name='Group 4', transform='translate(0)')
                                                    g#Group_3-2(data-name='Group 3')
                                                        path#Path_13-2(data-name='Path 13', d='M31.995,12.238a.5.5,0,0,0-.022-.108.533.533,0,0,0-.03-.092.479.479,0,0,0-.053-.082.5.5,0,0,0-.071-.083c-.009-.007-.012-.018-.021-.025L26.667,7.865V3.736a1.6,1.6,0,0,0-1.6-1.6h-5.78L16.973.339a1.581,1.581,0,0,0-1.945,0l-2.315,1.8H6.933a1.6,1.6,0,0,0-1.6,1.6V7.865L.205,11.849c-.009.008-.013.018-.021.025a.5.5,0,0,0-.071.083.476.476,0,0,0-.053.082.526.526,0,0,0-.03.092.505.505,0,0,0-.022.107c0,.011-.006.021-.006.032V30.4a1.582,1.582,0,0,0,.313.941s0,.011.007.015.012.009.017.015A1.592,1.592,0,0,0,1.6,32H30.4a1.593,1.593,0,0,0,1.265-.631c0-.005.011-.007.014-.012s0-.01.008-.015A1.582,1.582,0,0,0,32,30.4V12.27C32,12.259,32,12.249,31.995,12.238ZM15.68,1.181a.511.511,0,0,1,.636,0l1.23.955H14.453ZM1.734,30.938,15.68,20.1a.512.512,0,0,1,.636,0l13.95,10.833Zm29.2-.832L16.973,19.263a1.582,1.582,0,0,0-1.945,0L1.066,30.106V13.082l8.74,6.787a.534.534,0,0,0,.654-.843L1.581,12.131,5.333,9.215v4.121a.533.533,0,1,0,1.067,0v-9.6A.533.533,0,0,1,6.933,3.2H25.067a.533.533,0,0,1,.533.533v9.6a.533.533,0,1,0,1.067,0V9.215l3.752,2.916-8.895,6.907a.533.533,0,1,0,.654.843l8.756-6.8V30.106Z', transform='translate(-0.001 -0.004)', fill='#858688')
                                                        path#Path_14-2(data-name='Path 14', d='M166.384,76.777V74.642a6.405,6.405,0,1,0-6.405,6.405.534.534,0,0,0,0-1.067,5.338,5.338,0,1,1,5.338-5.338v2.135a1.068,1.068,0,0,1-2.135,0V74.642a.534.534,0,1,0-1.067,0,2.135,2.135,0,1,1-2.135-2.135.534.534,0,1,0,0-1.067A3.2,3.2,0,1,0,162.137,77a2.129,2.129,0,0,0,4.247-.225Z', transform='translate(-143.98 -63.969)', fill='#858688')

                                .contact-content
                                    .contact-label Email
                                    a(href="mailto:info@basuragency.com")
                                        span.contact-text info@basuragency.com
                            .contact-item
                                .contact-icon
                                    svg#whatsapp(xmlns='http://www.w3.org/2000/svg', width='32', height='32', viewBox='0 0 32 32')
                                        path#Path_5(data-name='Path 5', d='M27.36,4.6A16.189,16.189,0,0,0,16.06,0a15.884,15.884,0,0,0-13.8,23.784L0,32l8.447-2.2a16.749,16.749,0,0,0,7.621,1.929c14.177,0,21.234-17.152,11.272-27.076Z', fill='#eceff1')
                                        path#Path_6(data-name='Path 6', d='M15.637,28.873h-.03A13.691,13.691,0,0,1,8.247,26.7l-5.1,1.326,1.366-4.957-.325-.51A13.426,13.426,0,0,1,2.13,15.409c0-11.958,14.605-17.938,23.057-9.486C33.619,14.287,27.7,28.873,15.637,28.873Z', transform='translate(0.444 0.409)', fill='#868885')
                                        path#Path_7(data-name='Path 7', d='M22.757,15.964l-.013.091c-.438-.181-2.572-1.048-2.969-1.167-.892-.274-.64-.044-2.353,1.585-.255.236-.508.254-.94.091a12.515,12.515,0,0,1-3.5-1.794,11.541,11.541,0,0,1-2.416-2.5c-.426-.611.466-.7,1.278-1.974a.568.568,0,0,0-.036-.633c-.109-.181-.978-1.957-1.342-2.666s-.709-.616-.978-.616A2.489,2.489,0,0,0,7.5,6.794c-2.349,2.144-1.757,4.355.253,6.706,3.95,4.292,6.054,5.082,9.9,6.179a7.211,7.211,0,0,0,2.736.146c.835-.11,2.572-.871,2.934-1.723a2.523,2.523,0,0,0,.262-1.722c-.108-.163-.393-.254-.83-.417Z', transform='translate(1.245 2.813)', fill='#fafafa')

                                .contact-content
                                    .contact-label whatsapp
                                    span.contact-text +9647508853530
                            .contact-item
                                .contact-icon
                                    svg(xmlns='http://www.w3.org/2000/svg', width='32', height='33', viewBox='0 0 32 33')
                                        g#phone-call(transform='translate(-0.344 0)')
                                            g#Group_1(data-name='Group 1', transform='translate(0.344 0)')
                                                path#Path_8(data-name='Path 8', d='M25.6,45.938a3.1,3.1,0,0,0-2.282-1.079,3.208,3.208,0,0,0-2.309,1.073l-2.133,2.194c-.176-.1-.351-.188-.52-.279-.243-.125-.473-.244-.668-.369a23.459,23.459,0,0,1-5.555-5.223,14.184,14.184,0,0,1-1.823-2.967c.554-.522,1.067-1.066,1.566-1.588.189-.2.378-.4.567-.592a3.262,3.262,0,0,0,0-4.819l-1.843-1.9c-.209-.216-.425-.439-.628-.662-.405-.432-.83-.878-1.269-1.3a3.15,3.15,0,0,0-2.261-1.024,3.258,3.258,0,0,0-2.3,1.024l-.014.014-2.3,2.389A5.165,5.165,0,0,0,.372,34.071a12.552,12.552,0,0,0,.864,5.168A30.2,30.2,0,0,0,6.4,48.125a31.931,31.931,0,0,0,10.578,8.545,16.109,16.109,0,0,0,5.94,1.811c.142.007.29.014.425.014a5.015,5.015,0,0,0,3.895-1.727c.007-.014.02-.021.027-.035a15.623,15.623,0,0,1,1.181-1.261c.29-.286.587-.585.878-.9a3.528,3.528,0,0,0,1.019-2.41,3.4,3.4,0,0,0-1.04-2.389Zm2.417,7.334c-.007,0-.007.007,0,0-.263.293-.533.557-.824.85a18.071,18.071,0,0,0-1.3,1.393,3.207,3.207,0,0,1-2.538,1.107c-.1,0-.209,0-.311-.007a14.313,14.313,0,0,1-5.265-1.63,30.141,30.141,0,0,1-9.963-8.051,28.472,28.472,0,0,1-4.86-8.35,10.226,10.226,0,0,1-.756-4.36,3.241,3.241,0,0,1,.932-2.068l2.3-2.375a1.514,1.514,0,0,1,1.026-.494,1.428,1.428,0,0,1,.986.488l.02.021c.412.4.8.808,1.215,1.247.209.223.425.446.641.676l1.843,1.9a1.354,1.354,0,0,1,0,2.159c-.2.2-.385.4-.581.6-.567.6-1.107,1.156-1.694,1.7-.013.014-.027.021-.034.035A1.453,1.453,0,0,0,8.5,39.691l.02.063a15.362,15.362,0,0,0,2.18,3.67l.007.007A25.069,25.069,0,0,0,16.7,49.058a9.131,9.131,0,0,0,.83.467c.243.125.473.244.668.369.027.014.054.035.081.049a1.348,1.348,0,0,0,1.694-.306l2.309-2.382a1.511,1.511,0,0,1,1.019-.522,1.362,1.362,0,0,1,.972.508l.014.014,3.719,3.837A1.4,1.4,0,0,1,28.014,53.272Z', transform='translate(-0.344 -25.495)', fill='#858688')
                                                path#Path_9(data-name='Path 9', d='M245.719,87.792a8.973,8.973,0,0,1,7.307,7.307.935.935,0,0,0,.927.781,1.244,1.244,0,0,0,.16-.014.942.942,0,0,0,.774-1.088,10.85,10.85,0,0,0-8.841-8.841.946.946,0,0,0-1.088.767A.931.931,0,0,0,245.719,87.792Z', transform='translate(-228.62 -79.943)', fill='#858688')
                                                path#Path_10(data-name='Path 10', d='M264.427,14.572A17.866,17.866,0,0,0,249.869.015a.94.94,0,1,0-.307,1.855,15.958,15.958,0,0,1,13.01,13.01.935.935,0,0,0,.927.781,1.244,1.244,0,0,0,.16-.014A.924.924,0,0,0,264.427,14.572Z', transform='translate(-232.441 0)', fill='#858688')

                                .contact-content
                                    .contact-label Phone
                                    a(href="tel:+9647508853530")
                                        span.contact-text +9647508853530
                        .h-divider   
                        .nav__widget
                            .searchbar
                                form(action="/" method="POST")
                                    .search-control
                                        input.search-input#nav-search(type="search", name="search", placeholder="Search...")
                                        button.btn.btn--primary.btn--outline.btn--search 
                                            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewBox='0 0 20 20')
                                                path#search(data-name='search', d='M17.894,17.086l-4.375-4.375a7.683,7.683,0,1,0-.758.758l4.375,4.375a.542.542,0,0,0,.379.16.526.526,0,0,0,.379-.16A.54.54,0,0,0,17.894,17.086ZM1.124,7.677a6.6,6.6,0,1,1,6.6,6.6A6.606,6.606,0,0,1,1.124,7.677Z', transform='translate(-0.05)', fill='#4958a8')


                            .social-icons
                                span.icon.icon--medium.icon-facebook-official   
                                span.icon.icon--medium.icon-linkedin-squared   
                                span.icon.icon--medium.icon-twitter   
                                span.icon.icon--medium.icon-youtube   
        nav.main-nav
            .outer
                .inner
                    .nav
                        //.brand-logo
                            //img.nav-logo(alt="basur agency logo", src="./assets/imgs/basur-agency-logo.png")
                        
                        ul.navbar#main-navbar
                            li.navbar__item
                                a.navbar__link(href="#") Home     
                            li.navbar__item.has--dropdown
                                a.navbar__link(href="#") Promotions
                                    span.icon.icon--small.icon-down-open-1
                                .nav-mega 
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1
                                            li    
                                                a(href="#") sub cat 2
                                            li
                                                a(href="#") sub cat 3
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1
                                            li    
                                                a(href="#") sub cat 2
                                            li
                                                a(href="#") sub cat 3
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1
                                            li    
                                                a(href="#") sub cat 2
                                            li
                                                a(href="#") sub cat 3
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1
                                            li    
                                                a(href="#") sub cat 2
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                    .nav-mega__item    
                                        span.mega__title Menu asdasd
                                        a.nav-mega__link(href="#") 
                                            .mega__thumbnail
                                                img(src="https://images.unsplash.com/photo-1574439711502-9985ba573cab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3172&q=80", alt="")
                                        ul.nav__sub-item
                                            li
                                                a(href="#") sub cat 1

                            li.navbar__item        
                                a.navbar__link(href="#") Bags
                            li.navbar__item    
                                a.navbar__link(href="#") Box
                            li.navbar__item    
                                a.navbar__link(href="#") Prints
                            li.navbar__item.has--dropdown    
                                a.navbar__link(href="#") Restaurant 
                                    span.icon.icon--small.icon-down-open-1
                                ul.nav-dropdown 
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") Menu
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") Tissue paper
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") Sandwich paper
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") Sandwich paper
                            li.navbar__item   
                                a.navbar__link(href="#") Card
                            li.navbar__item.has--dropdown    
                                a.navbar__link(href="#") Corporate
                                    span.icon.icon--small.icon-down-open-1
                                ul.nav-dropdown
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") ID
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") About
                                    li.nav-dropdown-item    
                                        a.nav-dropdown-link(href="#") Portofolio
                        .nav-left
                            .nav-humberger(data-trigger="#main-navbar")
                                span.humberger.humberger-1 
                                span.humberger.humberger-2 
                                span.humberger.humberger-3 
                                
        block body

        
        footer
            block footer
        script(src="/js/main.min.js")
        block scripts    